* {
    font-family: 'Rubik';
    box-sizing: border-box;
    margin: 0;
}

:root {
    --shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.header-site {
    background-image: url(public/images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
    height: 280px;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.header-title {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.header-title h1 {
    font-size: 22px;

}

.form {
    margin-top: 22px;
    display: flex;
    justify-content: center;
}

.form input, .form button {
    border: none;
    outline: none;
    
}

.form input {
    width: 85%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 16px;
    font-size: 18px;
    caret-color: green;
}

.btn {
    width: 15%;
    background-color: #000;
    padding: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.btn:hover {
    background-color: #3f3e40;
}

.modal {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    padding: 18px;
    box-shadow: var(--shadow);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 21px 0;
}